



<div class="container mt-5">
  <h1 class="mb-5">{{title}}</h1>
  <div class="row">
    <div class="col-sm" *ngFor="let card of cards">
      <app-card  [card]="card"></app-card>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary m-5 p-2 col-sm" (click)="postCards(cards)">Trier les cartes</button>  
  <button type="button" class="btn btn-danger m-5 p-2 col-sm" (click)="fetchCards()">relancer un nouveau groupe des cartes</button>

  </div>
</div>











